/**/
.nav {
    background-color: #022c6e;
    overflow: hidden;
    width: 100%;

}
span {
  color: #6a06bd;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #bbb;
  }
  figure {
    float: right;
    margin-top: -250px;
    padding: 20px 20px;
    top:0;
    display: inline-block;
  }
  figure img {
    vertical-align: top;
  }
  /*To make the images float to the right*/
  .images {
    float:right;
    padding: 15px 15px;
    top: 0;
    margin-top: -250px;
  }

  /* Styling for the form in index.html*/
  form {
    background-color: #ffffff;
    float: right;
    margin: 0 auto;
    margin-top: -250px;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  /*Styles the body of the html code*/
  body {
    background-color: #d5d5e7;
    color: #022c6e;
  }
  

  /*footer*/
  footer {
    background-color: #022c6e;
    color:#ffffff;
    position:fixed;
    bottom: 0;
    padding-bottom: 10px;
    left: 0;
    height: 20px;
    width: 100%;
    font-size: 10px;
  }
